<header class="sticky top-0 z-50 w-full bg-white">
  <div class="flex w-full items-center justify-between text-white p-2 bg-dark-royal-blue">
    <span>
      language
    </span>
    <span>
      new here, sign up
    </span>
    <span>
      timezone
    </span>
  </div>

  <div class="flex w-full items-center justify-between text-dark-royal-blue m8 bg-surface-50 py-4 border-bottom-royal-blue">

    <div class="flex w-full justify-between  p-2 px-4 lg:px-16 lg:py-2 lg:mx-[10%] ">

      <div class="flex items-center space-x-2 md:space-x-20">

        <a (click)="goToPage('home')" href="javascript:void(0)">
          <img alt="dev-sync" class="cursor-pointer" height="36" src="/images/dev-sync-logo.svg" width="150px"/>
        </a>

        <nav>
          <ul class="flex space-x-8">
            <li class="hover:scale-110">
              <a routerLink="question" routerLinkActive="selected-router-link">Questions</a>
            </li>
            <li class="hover:scale-110">
              <a routerLink="project" routerLinkActive="selected-router-link">Projects</a>
            </li>
            <li class="hover:scale-110">
              <a routerLink="workspace" routerLinkActive="selected-router-link">Workspaces</a>
            </li>

            <li class="hover:scale-110">
              <a routerLink="tag" routerLinkActive="selected-router-link">Tags</a>
            </li>
            <li class="hover:scale-110">
              <a routerLink="user" routerLinkActive="selected-router-link">Users</a>
            </li>
          </ul>
        </nav>

      </div>

      <div class="flex items-center space-x-2 md:space-x-8">
        <div>
          <p-iconfield>
            <p-inputicon class="pi pi-search"/>
            <input pInputText pSize="small" placeholder="Global search" type="text"/>
          </p-iconfield>
        </div>
        <div>
          <p-overlaybadge severity="danger" value="">
            <p-avatar class="mr-2" label="WN" size="normal"/>
          </p-overlaybadge>
        </div>
        <div>
        </div>
      </div>

    </div>

  </div>
</header>


