<div class="flex flex-col items-center gap-4  pt-4" id="divContainer">

  <div class="fixed flex flex-col gap-2 z-10 top-[50%] lg:right-[12%] sm:right-5" id="divToolbar">
    <p-button (click)="signalApp.showWorkspaceInput.set(true)" [rounded]="true" class="hover:scale-110 bg-accent-color"
              icon="pi pi-plus"/>
  </div>

  <div class="w-2/3" id="divDataView">
    <p-table [value]="workspaces" [tableStyle]="{ 'min-width': '50rem' }">
      <ng-template #header>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Private</th>
          <th></th>
          <th></th>
        </tr>
      </ng-template>
      <ng-template #body let-workspace>
        <tr>
          <td>{{ workspace.name }}</td>
          <td>{{ workspace.description }}</td>
          <td>{{ workspace.isPrivate }}</td>
          <td class="underline">
            <a href="#"> {{ workspace.membersId.length }} Member(s) </a>
            <br>
            <a href="#"> {{ workspace.projectCount }} Project(s) </a>
          </td>
          <td>
            <p-button icon="pi pi-pencil" [text]="true"/>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <app-form-input></app-form-input>

</div>
