<footer class="bottom-0 flex flex-col px-8 py-2 gap-1 bg-dark-royal-blue-50 ">

<!--  <div class="flex flex-row w-full items-center gap-4">
    <div class="cursor-pointer">
      <a (click)="toggleFooter()" aria-label="expand">
        @if (isFooterExpanded) {
          <i class="pi pi-chevron-up"></i>
        } @else {
          <i class="pi pi-chevron-down"></i>
        }
      </a>
    </div>
    <div class="w-full">
      <hr class="text-dark-royal-blue-100">
    </div>
  </div>

  @if (isFooterExpanded) {

    <div class="flex justify-between ">

      <div class="flex flex-col items-start gap-4">
    <span class="text-sm">
      Do you want to know more? Click here
    </span>
        <span class="text-sm">
      Get in touch. Here our contacts
    </span>
        <span class="text-sm">
      Do you have any questions? FAQ
    </span>
      </div>
      <div>
        <nav class="h-full pt-1">

          <ul class="flex h-full items-center space-x-8">
            <li class="hover:text-gray-300">
              <a aria-label="GitHub" href="https://github.com" rel="noopener noreferrer" target="_blank">
                <i class="pi pi-github"></i>
              </a>
            </li>
            <li class="hidden md:block lg:block hover:text-gray-300">
              <a aria-label="YouTube" href="https://youtube.com" rel="noopener noreferrer" target="_blank">
                <i class="pi pi-youtube"></i>
              </a>
            </li>
            <li class="hidden md:block lg:block hover:text-gray-300">
              <a aria-label="LinkedIn" href="https://linkedin.com" rel="noopener noreferrer" target="_blank">
                <i class="pi pi-linkedin"></i>
              </a>
            </li>
            <li class="hover:text-gray-300">
              <a aria-label="Twitter" href="https://twitter.com" rel="noopener noreferrer" target="_blank">
                <i class="pi pi-twitter"></i>
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="flex flex-col items-end gap-4">
    <span class="text-sm">
      Legal
    </span>
        <span class="text-sm">
      Terms & Conditions
    </span>
        <span class="text-sm">
      Privacy Policy
    </span>
      </div>
    </div>

    <hr class="text-dark-royal-blue-100">

    <div class="flex w-full justify-between ">
      <div class="flex w-1/3 justify-start items-start">
        <span class="text-sm font-bold">
        <a href="#">Donations</a>
      </span>
      </div>
      <div class="flex w-1/3 justify-end items-end">
        <span class="text-sm">
        Sys Monkey Softwares Ltd, Company No: 00000, Vat No: PT 000 000 000, &copy; 2025
      </span>
      </div>
    </div>

  } @else {


  }-->

  <div class="flex w-full justify-between ">
    <div class="flex w-1/3 justify-start items-center">
        <span class="text-sm font-bold">
        <a href="#">Donations</a>
      </span>
    </div>
    <div class="flex w-1/3 justify-center items-center">
      <nav class="h-full pt-1">

        <ul class="flex h-full items-center space-x-8">
          <li class="hover:text-gray-300">
            <a aria-label="GitHub" href="https://github.com" rel="noopener noreferrer" target="_blank">
              <i class="pi pi-github"></i>
            </a>
          </li>
          <li class="hidden md:block lg:block hover:text-gray-300">
            <a aria-label="YouTube" href="https://youtube.com" rel="noopener noreferrer" target="_blank">
              <i class="pi pi-youtube"></i>
            </a>
          </li>
          <li class="hidden md:block lg:block hover:text-gray-300">
            <a aria-label="LinkedIn" href="https://linkedin.com" rel="noopener noreferrer" target="_blank">
              <i class="pi pi-linkedin"></i>
            </a>
          </li>
          <li class="hover:text-gray-300">
            <a aria-label="Twitter" href="https://twitter.com" rel="noopener noreferrer" target="_blank">
              <i class="pi pi-twitter"></i>
            </a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="flex w-1/3 justify-end items-center">
        <span class="text-sm">
        Sys Monkey Softwares Ltd, Company No: 00000, Vat No: PT 000 000 000, &copy; 2025
      </span>
    </div>
  </div>


</footer>
