<div class="flex flex-col h-screen bg-surface-50 dark:bg-surface-900">

  <app-header></app-header>
  <p-toast></p-toast>

  @if (signalsApp.message()) {
    <div class="w-full px-48 py-2 ">
      <p-message [severity]="signalsApp.message().severity" (onClose)="signalsApp.message.set(null)" closable>
        <span class="font-bold">
          {{ signalsApp.message().content }}
        </span>
      </p-message>
    </div>
  }

  <main class="flex-grow overflow-y-auto ">
    <div class="min-h-[94.4%]">
      <router-outlet></router-outlet>
    </div>
    <app-footer></app-footer>
  </main>

</div>
