@use './tailwind.css';
@use "primeicons/primeicons.css";

.bg-primary-color {
  background-color: var(--color-primary);
}

.bg-primary-color-50 {
  background-color: var(--color-primary-50);
}

.bg-p-primary-color-400 {
  background-color: var(--p-primary-400);
}

.bg-p-primary-color-700 {
  background-color: var(--p-primary-700);
}
